# Как выжить на титанике

---

Эта тетрадка научит тебя использовать pandas, numpy, строить графики в matplotlib и выживать при кораблекрушении.

Начнём!


* Клетки можно просто выполнять (выделить и ctrl+enter или shift+enter - чтобы сразу выделить следующую)
* По надобности их можно создавать ("плюсик" в панели наверху)
* В некоторых клетках нужно дописать код, что именно - пишется в комментариях рядом

## загрузим данные c Pandas

In [1]:
#подключим модуль Pandas. Он нужен, чтобы работать с данными
import pandas

#считаем данные
data = pandas.DataFrame.from_csv("train.csv")

In [2]:
#Данные - таблица, двумерный массив
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

## Расшифровка колонок
* Survived - выжил ли человек
* Pclass - класс, которым человек путешествовал
* Name - имя(строка)
* Sex - пол, а не то, что ты подумал - строка male/female
* Age - возраст
* Sibsp - число родственников на корабле
* Parch - число родителей на корабле
* Ticket - билет (строка-шифр)
* Fare - сколько стоил билет
* Cabin - номер каюты, если есть
* Embarked - порт, в котором человек зашёл на борт
 * C = Cherbourg; Q = Queenstown; S = Southampton

В некоторых колонках встречается NaN - значит, что у данного человека данная колонка неизвестна (квест - найти их глазами в данных выше)

In [3]:
#размеры таблицы
print "len(data) = ",len(data)
print "data.shape = ",data.shape

len(data) =  891
data.shape =  (891, 11)

In [4]:
#вот так можно получить четвёртую строку таблицы, считая с нуля
print data.irow(4)

Survived                           0
Pclass                             3
Name        Allen, Mr. William Henry
Sex                             male
Age                               35
SibSp                              0
Parch                              0
Ticket                        373450
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 5, dtype: object

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  from ipykernel import kernelapp as app

In [5]:
#первые 5 строк
print data[0:5]

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex  Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male   22
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
5                                     Allen, Mr. William Henry    male   35

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

In [6]:
#так можно получить второй столбец (считая с нуля)
#print data.icol(2)
#но проще - вот так:
print data["Name"]
#или даже так: data.Name

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
6                                       Moran, Mr. James
7                                McCarthy, Mr. Timothy J
8                         Palsson, Master. Gosta Leonard
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
13                        Saundercock, Mr. William Henry
14                           Andersson, Mr. Anders Johan
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
17                                  Rice, Master. Eugene
18                          Williams, Mr. Charles Eugene
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
21                                  Fynney, Mr. Joseph J
22                                 Beesley, Mr. Lawrence
23                           McGowan, Miss. Anna "Annie"
24                          Sloper, Mr. William Thompson
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                               Emir, Mr. Farred Chehab
28                        Fortune, Mr. Charles Alexander
29                         O'Dwyer, Miss. Ellen "Nellie"
30                                   Todoroff, Mr. Lalio
                             ...
862                          Giles, Mr. Frederick Edward
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
865                               Gill, Mr. John William
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
868                 Roebling, Mr. Washington Augustus II
869                          van Melkebeke, Mr. Philemon
870                      Johnson, Master. Harold Theodor
871                                    Balkic, Mr. Cerin
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873                             Carlsson, Mr. Frans Olof
874                          Vander Cruyssen, Mr. Victor
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
877                        Gustafsson, Mr. Alfred Ossian
878                                 Petroff, Mr. Nedelio
879                                   Laleff, Mr. Kristo
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
882                                   Markun, Mr. Johann
883                         Dahlberg, Miss. Gerda Ulrika
884                        Banfield, Mr. Frederick James
885                               Sutehall, Mr. Henry Jr
886                 Rice, Mrs. William (Margaret Norton)
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [7]:
#несколько колонок, несколько строк
data[["Sex","Pclass"]][5:10]

                Sex  Pclass
PassengerId
6              male       3
7              male       1
8              male       3
9            female       3
10           female       2

## Теперь сам
* выведи данные о 1, 13, 666 и последнем пассажире. Кто из них выжил?


* выведи данные о столбике "Survived" - выжившие.
* напиши программу, которая считает, сколько всего людей выжило и сколько всего людей было на корабле


! Обрати внимание, что в данных может быть мусор (NaN, пустые значения) ! 

Их можно найти и удалить. Подумай (или погугли), как это сделать в питоне

In [ ]:
#<1,13, 666 и последний из пассажиров>

In [ ]:
#столбик

In [ ]:
#программа

In [8]:
#Бонус - посчитай средний возраст людей на корабле (тут точно будет NaN)

# Numpy и векторные операции

In [9]:
#загружаем numpy. Это быстрая библиотека для математики
import numpy

#основная структура данных - массив
a = numpy.array([1,2,3,4,5])
b = numpy.array([5,4,3,2,1])
print "a = ",a
print "b = ",b

#математические и логические операции считаются для каждого элемента массива
print "a+1 =", a+1
print "a*2 =", a*2
print "a==2", a==2
#если в операции участвуют 2 массива, операции считаются для соответствующих пар
print "a+b =",a+b
print "a*b =",a*b

a =  [1 2 3 4 5]
b =  [5 4 3 2 1]
a+1 = [2 3 4 5 6]
a*2 = [ 2  4  6  8 10]
a==2 [False  True False False False]
a+b = [6 6 6 6 6]
a*b = [5 8 9 8 5]

In [ ]:
#а теперь сам
print "Разность между a и b:", #<твой код>
print "Квадраты элементов b:", #<твой код>
print "Половины элементов массива a:", #<твой код>
print "Половины произведений элементов массивов a и b:", #<твой код>
print "Частное разности элементов a и единицы с квадратами b:", #<твой код>

In [10]:
#а ещё в numpy есть много функций

print "numpy.sum(a) = ",numpy.sum(a)
print "numpy.min(a) = ", numpy.min(a)
print "numpy.argmin(b) = ", numpy.argmin(b) #индекс минимального элемента
print "numpy.max(a) = ", numpy.max(a)
print "numpy.argmax(b) = ", numpy.argmax(b) #индекс максимального
print "numpy.average(a) = ", numpy.average(a)
print "numpy.unique(['male','male','female','female','male']) = ",numpy.unique(['male','male','female','female','male'])
#и ещё много  всего ...

numpy.sum(a) =  15
numpy.min(a) =  1
numpy.argmin(b) =  4
numpy.max(a) =  5
numpy.argmax(b) =  0
numpy.average(a) =  3.0
numpy.unique(['male','male','female','female','male']) =  ['female' 'male']

In [11]:
#[это важно для задания] 
#А вот так можно выделять данные, в которых определённая колонка - не NaN

age_is_nan = numpy.isnan(data.Age) #массив bool - является ли у данного человека возраст NaN

data_with_age = data[numpy.logical_not(age_is_nan)] # все люди, у которых возраст - не NaN (отдельная таблица)

print len(data), "всего людей"
print len(data_with_age), "людей с известным возрастом"

891 всего людей
714 людей с известным возрастом

In [12]:
# мини-квест:
# реши свою предыдущую задачу в 1-2 строчки с использованием numpy
#подсказка: если массив состоит из 0 и 1, то 
#сумма = количестно единичек 
#среднее значение = вероятность единички
print #<твой код>

#найди пассажира с (минимальной/максимальной) стоимостью билета. Сколько он заплатил? Выжил ли он?
print #<твой код>

#Сколько лет было самому (молодому\старому) пассажиру. Как его звали? Какого он пола?
print #<твой код>

In [13]:
print "логические операции"

print "a>2",a>2
print "numpy.logical_not(a>2) = ",numpy.logical_not(a>2)
print "numpy.logical_and(a>2,b>2) = ", numpy.logical_and(a>2,b>2)
print "numpy.logical_or(a>4,b<3) = ", numpy.logical_or(a>2,b<3)

print "\nили проще"
print "~(a>2) = ",~(a>2)  #как logical_not
print "(a>2)&(b>2) = ", (a>2)&(b>2) #как logical_and
print "(a>2)|(b<3) = ", (a>2)|(b<3)    #как logical_or


print "\n\nИндексация"

#индексация - выбираем эллементы из массима
print "a> 3 =",a>3
print "a[a>3] =", a[a>3]
print "numpy.where(a>3) =",numpy.where(a>3) #где в массиве лежат True (кортеж, в котором лежит массив)
print "a[numpy.where(a>3)] =",a[numpy.where(a>3)]

логические операции
a>2 [False False  True  True  True]
numpy.logical_not(a>2) =  [ True  True False False False]
numpy.logical_and(a>2,b>2) =  [False False  True False False]
numpy.logical_or(a>4,b<3) =  [False False  True  True  True]

или проще
~(a>2) =  [ True  True False False False]
(a>2)&(b>2) =  [False False  True False False]
(a>2)|(b<3) =  [False False  True  True  True]


Индексация
a> 3 = [False False False  True  True]
a[a>3] = [4 5]
numpy.where(a>3) = (array([3, 4]),)
a[numpy.where(a>3)] = [4 5]

### теперь сам

Квесты
* 1) сколько всего классов и какие они? ("Pclass")
* 2) какая средняя стоимость билета в каждом классе?
* 3) в каком классе больше детей (< 18 лет)? 
* 4) все ли дети путешествуют с родителями?
* 5) Есть ли различия в названиях билетов("Ticket") в разных классах?

Бонусные сайд-квесты
* 1) какие бывают порты? ("Embarked")
* 2) Из какого порта больше пассажиров
* 3) В каком порту самые дорогие билеты?
* 4) В каком порту самые молодые девушки?
* 5) Есть ли различия в названиях билетов("Ticket") в разных портах?

In [ ]:
#твой код

#здесь

#/твой код

In [ ]:
#Выдели в отдельные наборы мужчин и женщин
# за пол отвечает колонка "Sex", ("male","female")

men = #<твой код>
women = #<твой код>

#Кто с большей вероятностью выживет: мужчина или женщина?
print "P(выжил|мужчина) = ", #<твой код>
print "P(выжил|женщина) = ", #<твой код>

## битва полов:
* кто больше платил за билет?
* у кого больше вероятность, что он плавает с семьёй (в данных колонка "SibSp" - к-во родственников)
* кто в среднем моложе?
* кто ЧАЩЕ плавает ПЕРВЫМ классом? ("Pclass")

In [ ]:
print "Средняя цена для мужчин:", #<твой код>
print "Средняя цена для женщин:", #<твой код>

print "Вероятность, у мужчины на корабле семья"
print "Вероятность, у женщины на корабле семья"

print "Средний возраст мужчин:", #<твой код>
print "Средний возраст женщин:", #<твой код>

print "Вероятность плавать первым классом у мужчин:", #<твой код>
print "Вероятность плавать первым классом у женщин:", #<твой код>

## Бонус: насколько она быстрая, Гарри?
Испытаем numpy на скорость
* создадим 2 массива по 10^6 элементов
 * первый - числа от 0 до 1 000 000 не включая конец
 * второй - числа от 99 до 1 000 099 не включая конец
* посчитаем:
 * поэллементную сумму
 * поэллементное произведение
 * корень квадратный эллементов первого массива
 * сумму всех элементов первого массива (одно число)
 
* Сделаем это 3-мя способами
 * чистый python и списки
 * начинаем в python, преобразуем в numpy и

In [ ]:
%%time
#эта штука считает время выполнения КЛЕТКИ (должна быть на первой строчке клетки)
#время печатается в конце (точное время - total )


#без numpy, чистый python
arr_1 = range(1000000)
arr_2 = range(99,1000099)


a_sum = []
a_prod = []
sqrt_a1 = []
for i in range(len(arr_1)):
    a_sum.append(arr_1[i]+arr_2[i])
    a_prod.append(arr_1[i]*arr_2[i])
    a_sum.append(arr_1[i]**0.5)
    
#сумма всех элементов arr_1
arr_1_sum = sum(arr_1)

In [ ]:
%%time

#с numpy, преобразуя из list
arr_1 = range(1000000)
arr_2 = range(99,1000099)

arr_1, arr_2 = numpy.array(arr_1) , numpy.array(arr_2)


a_sum = arr_1 + arr_2
a_prod = arr_1*arr_2
sqrt_a1 = arr_1**.5

In [ ]:
%%time
# чистый numpy
arr_1 = numpy.arange(1000000)
arr_2 = numpy.arange(99,1000099)

a_sum = arr_1 + arr_2
a_prod = arr_1*arr_2
sqrt_a1 = arr_1**.5

# Графики и matplotlib
Как рисовать красивые картинки и издеваться над любителями MS Excel

In [ ]:
#загрузим библиотеку
import matplotlib.pyplot as plt #загрузить библиотеку matplotlib.pyplot под именем plt
%matplotlib inline

#линии
plt.plot([0,1,2,3,4,5],[0,1,4,9,16,25])

In [ ]:
#точки
plt.scatter([0,1,2,3,4,5],[0,1,4,9,16,25])

plt.show()#после этой функции всё уже построенное отрисуется и начнётся новый график

#если не писать plt.show() между графиками, они накладываются
plt.scatter([1,1,2,3],[3,2,2,1],c = ["red","blue","blue","green"],marker = "x")
plt.scatter([0,1,2,3,4,5],[0,1,4,9,16,25],c = "black")

In [ ]:
#гистограмма
plt.hist([0,1,1,1,2,2,3,3,3,3,3,4,4,5,5,5,6,7,7,8,9,10])
plt.show()


plt.hist([0,1,1,1,2,2,3,3,3,3,3,4,4,5,5,5,6,7,7,8,9,10],bins = 5)

In [ ]:
#Построй гистограмму возрастов, гистограмму цен.

#<ваш код>

#Бонус - узнай, как строить 2D-гистограму возрастов И цен.

In [ ]:
#Постройте график из точек x=возраст, y=цена билета
#цвет - пол

#<ваш код>

# Битва с финальным боссом

При помощи интуиции, граффиков и вычислений попробуй выделить по признакам группу людей,
в которой почти все выжили. 

Признаки - выражения вида:
* [колонка] равно [значение] (пол = женский)
* [математическое выражение] >, <, >= или <=  [значение]  (возраст старше 18 лет) (количество родственников минус родителей больше 1)
* [колонка с именем] - [утверждение про имя]  (имя содержит "Mr." и длинее 5 букв)

Признаки могут использоваться через И и ИЛИ.

(и только их. НЕ, импликация, XOR, эквивалентность, штрих Шифера и стрелка Пирса идут лесом)

Например, все [старше 30 лет] И [из порта C] И ([родственников 0] ИЛИ [первый класс]) - это 4 признака

При этом:
* Чем больше выживших людей(количество, а не доля), тем лучше;
* В группе обязательно должны выжить более 80% людей;
* Желательно использовать не более 5 признаков;
 * Если нашёл более 1 такой группы - перечисли несколько;
* Гипотеза должна подтверждаться запускабельным кодом, 
 * который считает число людей и шанс выжить;
 * высший пилотаж - заправить это красивыми граффиками по теме;

Напутствие - возможно, будет полезно сначала изучить данные, посмотреть на графики и обусдить идеи, а потом бросаться лихорадочно пробовать всё подряд.

In [ ]:
#предварительные вычисления графики

In [ ]:
#пример для [старше 30 лет] И [из порта C] И ([родственников 0] ИЛИ [первый класс])

data_with_age = data[~numpy.isnan(data.Age)]

age_and_port = numpy.logical_and(data_with_age.Age > 30,data_with_age.Embarked == "C")

#родственников на борту 0 или в первом классе
sibsp_or_class = numpy.logical_or(data_with_age.SibSp ==0,data_with_age.Pclass ==1)

#всё вместе
group_indexer = numpy.logical_and(age_and_port,sibsp_or_class)

#группа. Замените этот код на свою группу.
group = data_with_age[group_indexer]

In [ ]:
print "Количество человек:",len(group)
print "Количество выживших:", len(group[group.Survived == True])
p_survived = numpy.average(group.Survived)
print "Вероятность выжить:", p_survived
print "Достаточно выживших:", p_survived > 0.8

In [ ]:
# Если ещё не устал - аналогично выдели группы людей, где все погибли

[руководства по библиотекам]

  * [NumPy](http://www.numpy.org/)
    - [руководство для пользователей Matlab](http://wiki.scipy.org/NumPy_for_Matlab_Users)
  * [Pandas](http://pandas.pydata.org/)
    - [пример работы с данными при помощи pandas](http://nbviewer.ipython.org/github/agconti/kaggle-titanic/blob/master/Titanic.ipynb)
  * [Matplotlib](http://matplotlib.org/index.html)
    - [pyplot](http://matplotlib.org/api/pyplot_api.html) — эмуляция функционала графопостроений в Matlab
    - [галерея примеров](http://matplotlib.org/gallery.html)
  * [SciPy](http://scipy.org/)