# Как выжить на титанике

---

Эта тетрадка научит тебя использовать pandas, numpy, строить графики в matplotlib и выживать при кораблекрушении.

Начнём!


* Клетки можно просто выполнять (выделить и ctrl+enter или shift+enter - чтобы сразу выделить следующую)
* По надобности их можно создавать ("плюсик" в панели наверху)
* В некоторых клетках нужно дописать код, что именно - пишется в комментариях рядом

## загрузим данные c Pandas

In [1]:
#подключим модуль Pandas. Он нужен, чтобы работать с данными
import pandas as pd

#считаем данные
data = pd.read_csv("train.csv")

In [2]:
#Данные - таблица, двумерный массив
data[:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Расшифровка колонок
* Survived - выжил ли человек
* Pclass - класс, которым человек путешествовал
* Name - имя(строка)
* Sex - пол, а не то, что ты подумал - строка male/female
* Age - возраст
* Sibsp - число родственников на корабле
* Parch - число родителей на корабле
* Ticket - билет (строка-шифр)
* Fare - сколько стоил билет
* Cabin - номер каюты, если есть
* Embarked - порт, в котором человек зашёл на борт
 * C = Cherbourg; Q = Queenstown; S = Southampton

В некоторых колонках встречается NaN - значит, что у данного человека данная колонка неизвестна (квест - найти их глазами в данных выше)

In [3]:
#размеры таблицы
print("len(data) = ", len(data))
print("data.shape = ",data.shape)

len(data) =  891
data.shape =  (891, 12)

In [4]:
#первые 5 строк
data[0:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#так можно получить второй столбец (считая с нуля)
#print data.icol(2)
#но проще - вот так:
data["Name"]
#или даже так: data.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
#несколько колонок, несколько строк
data[["Sex","Pclass"]][5:10]

      Sex  Pclass
5    male       3
6    male       1
7    male       3
8  female       3
9  female       2

In [8]:
data = data[["Pclass","Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", "Embarked", "Survived"]]
#Убрали графы имени и билета, т.к. они нам никак не помогут в предсказании

## Теперь сам
* выведи данные о 1, 13, 666 и o последнем пассажире.(.iloc[index]) Кто из них выжил?


* выведи данные о столбике "Survived" - выжившие.
* напиши программу, которая считает, сколько всего людей выжило и сколько всего людей было на корабле


! Обрати внимание, что в данных может быть мусор (NaN, пустые значения) ! 

Их можно найти и удалить. Подумай (или погугли), как это сделать в питоне

In [9]:
#<1,13, 666 и последний из пассажиров>

In [10]:
#столбик

In [11]:
#программа

# Numpy и векторные операции

In [12]:
#загружаем numpy. Это быстрая библиотека для математики
import numpy

#основная структура данных - массив
a = numpy.array([1,2,3,4,5])
b = numpy.array([5,4,3,2,1])
print("a = ",a)
print( "b = ",b)

#математические и логические операции считаются для каждого элемента массива
print ("a+1 =", a+1)
print ("a*2 =", a*2)
print ("a==2", a==2)
#если в операции участвуют 2 массива, операции считаются для соответствующих пар
print ("a+b =",a+b)
print ("a*b =",a*b)

a =  [1 2 3 4 5]
b =  [5 4 3 2 1]
a+1 = [2 3 4 5 6]
a*2 = [ 2  4  6  8 10]
a==2 [False  True False False False]
a+b = [6 6 6 6 6]
a*b = [5 8 9 8 5]

In [13]:
#а теперь сам
print ("Разность между a и b:", ) #<твой код>
print ("Квадраты элементов b:", ) #<твой код>
print ("Половины элементов массива a:", )#<твой код>
print ("Половины произведений элементов массивов a и b:", )#<твой код>
print ("Частное разности элементов a и единицы с квадратами b:", ) #<твой код>

Разность между a и b:
Квадраты элементов b:
Половины элементов массива a:
Половины произведений элементов массивов a и b:
Частное разности элементов a и единицы с квадратами b:

In [14]:
#а ещё в numpy есть много функций

print ("numpy.sum(a) = ",numpy.sum(a))
print ("numpy.min(a) = ", numpy.min(a))
print ("numpy.argmin(b) = ", numpy.argmin(b)) #индекс минимального элемента
print ("numpy.max(a) = ", numpy.max(a))
print ("numpy.argmax(b) = ", numpy.argmax(b)) #индекс максимального
print ("numpy.average(a) = ", numpy.average(a))
print ("numpy.unique(['male','male','female','female','male']) = ",numpy.unique(['male','male','female','female','male']))
#и ещё много  всего ...

numpy.sum(a) =  15
numpy.min(a) =  1
numpy.argmin(b) =  4
numpy.max(a) =  5
numpy.argmax(b) =  0
numpy.average(a) =  3.0
numpy.unique(['male','male','female','female','male']) =  ['female' 'male']

In [15]:
#[это важно для задания] 
#А вот так можно выделять данные, в которых определённая колонка - не NaN

age_is_nan = numpy.isnan(data.Age) #массив bool - является ли у данного человека возраст NaN

data_with_age = data[numpy.logical_not(age_is_nan)] # все люди, у которых возраст - не NaN (отдельная таблица)

print (len(data), "всего людей")
print (len(data_with_age), "людей с известным возрастом")

891 всего людей
714 людей с известным возрастом

In [16]:
# мини-квест:
# реши свою предыдущую задачу в 1-2 строчки с использованием numpy
#подсказка: если массив состоит из 0 и 1, то 
#сумма = количество единичек 
#среднее значение = вероятность единички
print #<твой код>

#найди пассажира с (минимальной/максимальной) стоимостью билета. Сколько он заплатил? Выжил ли он?
print #<твой код>

#Сколько лет было самому (молодому\старому) пассажиру. Как его звали? Какого он пола?
print #<твой код>

In [17]:
print ("логические операции\n")

print ("a>2",a>2)
print ("numpy.logical_not(a>2) = ",numpy.logical_not(a>2))
print ("numpy.logical_and(a>2,b>2) = ", numpy.logical_and(a>2,b>2))
print ("numpy.logical_or(a>4,b<3) = ", numpy.logical_or(a>2,b<3))

print ("\nили проще\n")
print ("~(a>2) = ",~(a>2))  #как logical_not
print ("(a>2)&(b>2) = ", (a>2)&(b>2)) #как logical_and
print ("(a>2)|(b<3) = ", (a>2)|(b<3))    #как logical_or


print ("\n\nИндексация\n")

#индексация - выбираем эллементы из массима
print ("a> 3 =",a>3)
print ("a[a>3] =", a[a>3])
print ("numpy.where(a>3) =",numpy.where(a>3)) #где в массиве лежат True (кортеж, в котором лежит массив)
print ("a[numpy.where(a>3)] =",a[numpy.where(a>3)])

логические операции

a>2 [False False  True  True  True]
numpy.logical_not(a>2) =  [ True  True False False False]
numpy.logical_and(a>2,b>2) =  [False False  True False False]
numpy.logical_or(a>4,b<3) =  [False False  True  True  True]

или проще

~(a>2) =  [ True  True False False False]
(a>2)&(b>2) =  [False False  True False False]
(a>2)|(b<3) =  [False False  True  True  True]


Индексация

a> 3 = [False False False  True  True]
a[a>3] = [4 5]
numpy.where(a>3) = (array([3, 4], dtype=int64),)
a[numpy.where(a>3)] = [4 5]

## Готовим данные
Перед тем как просто закинуть данные в алгоритм обучения, их нужно привести в порядок. 
Для начала, давайте заменим элементы со значением NaN какими-либо значениями.

In [18]:
data = data.fillna(data.median(axis=0), axis=0)
#Тем самым мы заменили наши NaN медианными значениями

 # Мы заполнили количественные элементы со значением NaN, но остались ещё категориальные значения

In [19]:
data_describe = data.describe(include=[object]) 

categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object'] #обозначаем категориальные столбцы
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object'] #количественные
for c in categorical_columns:
    data[c] = data[c].fillna(data_describe[c]['top']) # заполняем их самым популярным значением

# Библиотека scikit-learn не умеет напрямую обрабатывать категориальные признаки. 

Поэтому прежде чем подавать данные на вход алгоритмов машинного обучения преобразуем категориальные признаки в количественные.

Категориальные признаки, принимающие два значения (т.е. бинарные признаки) и принимающие большее количество значений будем обрабатывать по-разному.

Вначале выделим бинарные и небинарные признаки:

In [20]:
binary = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
nonbinary = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
print(binary, nonbinary)

['Sex'] ['Cabin', 'Embarked']

# Бинарные признаки заменим на 0 и 1

In [21]:
for c in binary[1:]:
    top = data_describe[c]['top']
    top_items = data[c] == top
    data.loc[top_items, c] = 0
    data.loc[np.logical_not(top_items), c] = 1

# Небинарные... делим на несколько признаков

In [22]:
data_nonbinary = pd.get_dummies(data[nonbinary])
data_nonbinary.head()

,Cabin_A10,Cabin_A14,Cabin_A16,Cabin_A19,Cabin_A20,Cabin_A23,Cabin_A24,Cabin_A26,Cabin_A31,Cabin_A32,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [23]:
data_numerical = data[numerical_columns]
data_numerical = (data_numerical - data_numerical.mean()) / data_numerical.std()

data_numerical.describe()

,Pclass,Age,SibSp,Parch,Fare,Survived
count,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02
mean,1.679664e-16,3.345310e-16,1.528893e-16,-3.638441e-17,7.437622e-16,1.903951e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.565228e+00,-2.222908e+00,-4.742788e-01,-4.734077e-01,-6.480577e-01,-7.888293e-01
25%,-3.691575e-01,-5.654189e-01,-4.742788e-01,-4.734077e-01,-4.888737e-01,-7.888293e-01
50%,8.269128e-01,-1.045787e-01,-4.742788e-01,-4.734077e-01,-3.571902e-01,-7.888293e-01
75%,8.269128e-01,4.330683e-01,4.325504e-01,-4.734077e-01,-2.423274e-02,1.266279e+00
max,8.269128e-01,3.889370e+00,6.780355e+00,6.970233e+00,9.661740e+00,1.266279e+00

In [27]:
for i in range(len(data[binary])):
    if data[binary].iloc(i)=="male":
        data[binary]=1
    else:
        data[binary]=0

ValueError: No axis named 2 for object type <class 'pandas.core.frame.DataFrame'>

In [24]:
data = pd.concat((data_numerical, data[binary], data_nonbinary), axis=1)
data = pd.DataFrame(data, dtype=float)
data.head()

ValueError: could not convert string to float: 'male'

### Теперь учимся предсказывать выживаемость человека

In [ ]:
from sklearn.model_selection import train_test_split
Y = data["Survived" ]
X = data[["Pclass","Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", "Embarked"]]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 11)

X.head()

Выше мы разбили наш DataSet на обучающую и тестовую выборку

Теперь будем обучать

In [ ]:
from sklearn import ensemble
gbt = ensemble.GradientBoostingClassifier(n_estimators=100, random_state=11)
gbt.fit(X_train, y_train)

err_train = np.mean(y_train != gbt.predict(X_train))
err_test = np.mean(y_test != gbt.predict(X_test))
print (err_train, err_test)